<link href="content/css/character.css" rel="stylesheet">
<link href="content/css/favorite.css" rel="stylesheet">

<div class="container" ng-init="getFavorites()">

    <!--Info alert when user does not has favorites-->
    <div ng-show="userDoesNotHasFavorites">
        <div class="col-lg-6 col-lg-offset-3 alert alert-info fade in no-favorite">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Nothing here.. add your favorite <b><a href="#/characters">now!</a></b>
        </div>
    </div>

    <div class="col-sm-4" ng-repeat="favorite in favorites">
        <div class="col-sm-12">
            <a ng-href="#/characters/{{favorite.id}}" ng-click="selectFavorite(favorite)">
                <img class="img-circle img-center char-image-link"
                     ng-src="{{favorite.image}}">
            </a>
            <h3 class="char-name">{{favorite.name}}</h3>
        </div>
    </div>

</div>