<link href="content/css/teams.css" type="text/css" rel="stylesheet"/>

<div class="container" ng-controller="teamController" ng-init="getChars()">
    <div class="col-sm-4" ng-repeat="char in selectedTeamCharacters">
        <div class="col-sm-12">
            <div class="remove-char-button">
                <button type="button" class="btn btn-warning btn-circle" ng-click="deleteCharFromTeam(char.id)"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <a ng-href="#/characters/{{char.id}}" ng-click="selectCharacter(char)">
                <img class="img-circle img-center char-image" ng-src="{{char.image_path}}">
            </a>
            <h3 class="char-title">{{char.name}}</h3>
        </div>
    </div>
</div>
