<header>			
	<img height="500" width="100%" src="content/images/home.jpeg" alt="">
</header> 

<!-- Page Content -->
<div class="container">
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<div class="col-sm-12 imgDescription">
				<a href="#/characters">
					<img class="img-circle img-center" height="236" width="300" src="content/images/marvel_characters.png" alt="">
				</a>
			</div>
			<h2 class="imgTitle">Personajes</h2>
			<p class="imgDescription">Conoce ya el universo entero de personajes de MARVEL.</p>
		</div>
		<div class="col-sm-4">
			<div class="col-sm-12 imgDescription">
				<a href="#/favorites">
					<img class="img-circle img-center" height="236px" width="300" src="content/images/favoritos_icon.jpg" alt="">
				</a>
			</div>
			<h2 class="imgTitle">Favoritos</h2>
			<p class="imgDescription">Accede a todos tus personajes favoritos.</p>
		</div>
		<div class="col-sm-4">
			<div class="col-sm-12 imgDescription">
				<a href="#/teams">
					<img class="img-circle img-center" height="236px" width="300" src="content/images/team.jpg" alt="">
				</a>
			</div>
			<h2 class="imgTitle">Equipos</h2>
			<p class="imgDescription">Crea tu propio equipo de personajes.</p>
		</div>
	</div>
	<!-- /.row -->

	<hr>			

</div>