<link href="content/css/home.css" rel="stylesheet">
<div class="jumbotron header_home" ng-controller="loginController">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1 class="jumbotron-title"> Welcome to Marvel's World!</h1>
				<p class="display-intro jumbotron-lead">
					In our site you can find all of the Marvel's characters, mark your favorites and create your own teams.
				</p>
			</div>
			<div class="col-md-4 text-center" >
					<form class="form-signin">
						<input type="text" id="inputEmail" class="form-control" placeholder="Username" ng-model="userEmail"required autofocus>
						<input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="userPassword"required>
						<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="login()">Sign in</button>
					</form>
				If you don't have an account yet, you can register for free <a href="#/register" style="color:white;" >here</a>
			</div>
		</div>
	</div>
</div>