html{
	height: 100%;
}

body {
	height: 100%;
    padding-top: 50px;
}

div[ng-view]{

}

.img-center {
    margin: 0 auto;
}

.imgTitle{
	text-align:center;
}

.imgDescription{
	text-align:center;
}

footer {
	background-color:#222;
	color:#9d9d9d;
	height:150px;
	margin-top: 50px;
	padding:50px;
}